

.blog__top {
    margin-bottom: 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (max-width: 650px) {
        align-items: flex-start;
        flex-direction: column;
        width: $size;
    }

    @media (max-width: 427px) {
        margin-bottom: .8em;   
    }

    .pres {
        display: flex;

        @media (max-width: 427px) {
            flex-direction: column;
            width: $size;
        }

        &__image {
            margin-right: .8em;
            position: relative;
            width: 9em;
            height: 7em;
            border-radius: .6em;
            border: .01em solid rgb(231, 231, 231);
            background-color: $violet--light;

            @media (max-width: 427px) {
                margin-right: 0;
                margin-bottom: 1.3em;
                width: $size;
                height: 9em;
            }
        }

        &__img {
            position:absolute;
            right: -2.6em;
            top: 0;
            object-fit: cover;
            width: $size;
            height: $size;

            @media (max-width: 427px) {
                 right: 0;
                 width: 65%;
                 height: 96%;
            }
        }

        &__title {
            margin-bottom: .5em;
            font-weight: 400;
            font-size: 1.4em;
            color: #333;
        }

        &__content {
            line-height: 130%;
            font-size: .8em;
            font-weight: 400;
            max-width: 21em;
        }

        &__btns {
            padding-top: .6em;
            display: flex;
            align-items: center;
        }

        &__btn {
            margin-right: .5em;
            padding: .6em 1em;
            border-radius: .5em;
            border: .01em solid #d7d7d7;
            background-color: white;
            color: #999;
            cursor:not-allowed;
            transition: background-color .4s ease-in-out, color .3s linear, border-color .3s linear;

            &:hover {
                background-color: $violet--light;
                border-color:  $violet--light;
                color:rgb(231, 231, 231);
            }

            &:last-child {
                margin-right: 0;
            }
        }
    }

    
    .search {
        position: relative;
        padding: 0 0;
        display: flex;
        align-items: flex-end;
        height: 6em;

        @media (max-width: 427px) {
            height: 5em;
        }

        &__icons {
            position: absolute;
            right: .38em;
            bottom: .3em;
            font-size: .9em;
            color: #999;
        }
        
        &__input {
            padding: .8em 1em;
            border: 0;
            outline: 0;
            border: .01em solid #d9d9d9;
            border-radius: .5em;
            width: 25em;
            transition: border-color .3s linear;

            &:focus {
                border-color: lighten($violet--light, 20);

            }
        }

    }
}